/* 
author: Mohnish Devadiga

from https://coolors.co/00a6fb-0582ca-006494-003554-051923
*/

.body{
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F1FAEE;
    background-image: linear-gradient(#051923, #006494);
    /* 
    Removed background image as image gets resized with increasing lists
    background-image: url('https://images.unsplash.com/photo-1596171428701-3fca2768f81c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1001&q=80'); 
    */
    background-size: cover;
}

/* 
main add container
TODO:
1. Try to curve edges
2. Create linear effect on box
*/
.container-mod {
    /* background: #ffffff !important; */
    opacity: 0.95;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-left: 5%;
    border-radius: 20px;
    padding-bottom: 1px !important;
    margin-right: 1% !important;
    background-image: linear-gradient(to right, rgba(255,255,255, 100), rgba(255,255,255, 50), rgba(255,255,255, 10), rgba(255,255,255, 5), rgba(255,255,255, 0.5));
}

/* 
Placeholder color
*/
::placeholder {
    color: #777;
}

/* Strike input box value once marked completed */
.to_strike {
    text-decoration: line-through;
}

/* 
Task elements
*/
.box_main {
    background-color: #fff;
    padding: 2%;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    opacity: 0.9;
}

.box_main:hover {
    background-color: #fff;
    padding: 2%;
    height: 80px;
    width: 100%;
    border-radius: 20px;
    opacity: 1;
}

.content_box {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 0.7;
}
.content_box:hover {
    background-color: #fff;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 10px;
    opacity: 1;
}

/* 
Generate toast message on bottom of screen
*/
#toast {
    visibility: hidden;
    min-width: 25%;
    margin-left: 25%;
    margin-top: 1%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 7px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 15px;
}
  
#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* 
Section to modify/override materializecss (materializecss.com)
*/

/* override material css .nav-wrapper */
.nav-wrapper {
    background: #051923 !important;
}

/* input underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #457B9D !important;
    box-shadow: 0 1px 0 0 #457B9D !important
}